/*=============================== Font faces ========================= */
@font-face {
  font-family: 'Crimson Pro';
  src: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/CrimsonPro-Regular.woff2') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/CrimsonPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-Regular.woff2') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-SemiBold.woff2') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-Bold.woff2') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-ExtraBold.woff2') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/HankenGrotesk-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/CrimsonText-Regular.woff2') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/CrimsonText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root{
  --font-body-family: 'Hanken Grotesk';
  --font-heading-family: 'Crimson Text';
  --font-head2: 'Crimson Pro';
  --color-primary: #622B1E;
}
/* ==== common =====*/
h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4.6rem);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}

h4,
.h4 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-size: calc(var(--font-heading-scale) * 1.4rem);
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

@media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
  }
}
.subtitle {
  color: rgba(var(--color-foreground),1);
}

.heading-underline::after {
  content: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/sbc-underline.svg?v=1734084635');
  display: block;
}
.button, .button-label, .shopify-challenge__button, .customer button {
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 0;
}
.button:not([disabled]):hover:after, 
.shopify-challenge__button:hover:after, 
.customer button:hover:after, 
.shopify-payment-button__button--unbranded:hover:after {
  --border-offset: 0.1px;
}
.accordion summary {
  align-items: center;
}
@media (min-width: 1400px) {
  .page-width--narrow {
    max-width: 80.8rem;
  }
}
/* ======================== Announcement bar ================================*/

.announcement-bar .announcement-bar__message.message-text {
  display: flex;
  align-items: center;
  font-family: var(--font-body-family);
}
.announce-link {
  font-size: inherit;
}
@media screen and (min-width: 750px) {
  .announcement-bar .announcement-bar__message.message-text {
    font-size: 16px;
    font-weight: 600;
  }
}
/* ==============================  end - Announcement bar ======================= */


/* ==============================  Header ======================= */

.header.header--middle-left.menu-centered {
  grid-template-columns: 1fr auto 1fr;
}
.header__icon {
  height: 4.8rem;
  width: 4.8rem;
}
.header__icon .svg-wrapper {
  width: 48px;
  height: 48px;
}
.header__icons {
  gap: 20px;
}
.header__menu-item:hover span,
.header__active-menu-item,
.header__menu-item:hover .header__active-menu-item,
details[open]>.header__menu-item span {
  text-decoration: underline;
  text-underline-offset: 3.8rem;
  text-decoration-thickness: 4px;
}

details[open]>.header__menu-item {
  text-decoration: none;
}
.header__menu-item.link {
  font-family: var(--font-body-family);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 21.6px;
}
.header__active-menu-item {
  color: #622B1E;
}
.header {
  padding: 1rem 3rem;
}
.header__menu-item:hover {
  color: #6c382b !important;
  text-underline-offset: 5rem;
  text-decoration-thickness: 4px;
}
.header__icon--cart .cart-count-bubble {
  bottom: 2.2rem;
  left: 2.2rem;
}
@media screen and (min-width: 750px) {
  .header__icon--cart .cart-count-bubble {
  height: 2.6rem;
  width: 2.6rem;
  bottom: 2.8rem;
  left: 2.8rem;
  font-size: 1.4rem;
}
}
@media (max-width:749px){
  .header__icon .svg-wrapper {
    width: 30px;
    height: 30px;
  }
  .header__icons {
    gap: 0;
  }
  .header {
    padding: 0 1.5rem ;
  }
  .header__icon {
    height: 4rem;
    width: 4rem;
  }

}
.header__menu-item svg {
  margin-left: 3px;
}

/* ==============================  End - Header ======================= */

/* ==============================  Slideshow banner ======================= */
.slideshow__text-wrapper .slideshow__text .banner__heading {
  font-family: var(--font-heading-family);
  font-weight: 400;
  /* font-size: 10rem;
  line-height: 10rem; */
}
.slideshow__text-wrapper .slideshow__text.banner__box {
  max-width: 66.5rem;
}
.slideshow__text-wrapper .slideshow__text .banner__text {
  font-family: var(--font-body-family);
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 3.24rem;
  color: #FFFFFF;
  margin-top: 2rem;
}
.slideshow__controls.slideshow__absolute {
  position: absolute;
  bottom: 0;
  left: 50%;
  border: none;
}
.slider-counter--dots .slider-counter__link--dots.slider-counter__link--active .dot {
  background-color: #9D4935;
}
.slider-counter--dots .slider-counter__link--dots .dot {
  background-color: #C0BDAC80;
  border: none;
}
.button-banner-text {
  font-family: var(--font-body-family);
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.8rem;
  padding: 0 65px;
  min-height: 68px;
}
.button-banner-text svg path {
  fill: rgb(var(--color-button-text));
}
.banner__box>*+.banner__buttons {
  margin-top: 5.2rem !important;
}
@media screen and (min-width: 749px) and (max-width: 1024px) {
  .media .slideshow__media-desktop{
    position: unset !important;
    height: revert-layer !important;
  }
}
@media (max-width:749px) {
  /* .slideshow__text-wrapper .slideshow__text .banner__heading {
    font-weight: 400;
    font-size: 5rem;
    line-height: 1;
    color: black;
  } */
  .slideshow__text-wrapper .slideshow__text .banner__text {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.24rem;
    /* color: #040404; */
    margin-top: 2rem;
  }
  .slideshow__media-mobile{
    position: unset !important;
  }
  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(48, 19, 12, 0) 0%, #30130C 100%);
  }
  .slideshow__controls.slideshow__absolute {
    position: absolute;
    bottom: 5px;
    left: 50%;
    border: none;
    transform: translateX(-50%);
  }
  .button-banner-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 0 50px;
    min-height: 48px;
  }
}

/* ==============================  End - Slideshow banner ======================= */

/* ===================== Shop by category ======================*/
.category-slider {
  position: relative;
  padding-bottom: 110px;
  padding-inline: 84px;
}
.swiper-sbc {
  max-width: 1522px;
}
.sbc-image-text .sbc-image {
  width: 100%;
  object-fit: contain;
}
.category-slider__heading {
  font-family: var(--font-heading-family);
  text-align: center;
  color: #31302B;
  margin: 100px 0 50px;
  font-size: 3rem;
  line-height: 1;
}
.swiper-next, .swiper-prev {
  cursor: pointer;
}
.swiper-next {
  position: absolute;
  bottom: 37%;
  right: 0;
}
.swiper-prev {
  position: absolute;
  bottom: 37%;
  left: 0;
}
.swiper-next[aria-disabled="true"] svg path, .swiper-prev[aria-disabled="true"] svg path{
  stroke: #88877D;
}
.category-slider__link {
  text-decoration: none;
  color: #403F38;
  font-family: var(--font-body-family);
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  font-weight: 500;
  line-height: 28.6px;
  text-align: center;
}
.category-slider__link:hover {
  color: #622B1E;
}
.category-slider__title .category-slider__title-text {
  margin-inline: auto;
  max-width: 134px;
  padding-top: 16px;
  font-family: var(--font-body-family);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 28.6px;
}


@media screen and (min-width: 750px) {
  .category-slider__heading {
    font-size: 6.2rem;
    line-height: 5.58rem;
  }
}
@media screen and (max-width: 749px) {
  .category-slider {
    padding-bottom: 55px;
    padding-inline: 35px;
  }
  .category-slider__heading {
    margin: 50px 0 65px;
    font-size: 3rem;
    position: relative;
  }
}
/* ===================== End - Shop by category ======================*/

/* ===================== USP section ================================= */

.page-container{
  max-width: 1440px;
  width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}
.page-row{
  align-items: center;
  padding-block: 8rem;
}
.iconwith-page_wrapper .icon-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

/* .iconwith-page_wrapper .icon-block:first-child {
  padding-left: 0;
}

.iconwith-page_wrapper .icon-block:last-child {
  padding-right: 0;
} */

/* .iconwith-page_wrapper .icon-block:not(:last-child) {
  position: relative;
}

.iconwith-page_wrapper .icon-block:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #8B4636;
} */


a.icon-block {
  text-decoration: none;
  color: unset;
}
.icon-block figure{
  display: flex;
}
.icon-block .content h3{
  margin: 0;
  font-family: var(--font-head2);
  font-size: 2.2rem;
  font-weight: 400;
  color: #FFFFFF;
}
.icon-block .content p{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color-black);
}
.page-row .block-separator {
  display: block;
  width: 1px;
  background: #8B4636;
  align-self: stretch;
}
@media screen and (min-width: 750px) {
  .iconwith-page_wrapper .icon-block {
    max-width: 176px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 749px) and (max-width: 1024px) {
  .page-row :nth-child(6) {
    display: none !important;
    background: transparent !important;
  }
}
@media screen and (max-width: 749px) {
  .page-row .block-separator{
    display: none;
  }
  .icon-block .content h3 {
    font-size: 1.8rem;
  }
  .page-row {
    align-items: center;
    padding-block: 4rem;
  }
}
/* ===================== End - USP section ================================= */

/*  ======================== shop by craft section ========================== */
.shop-by-craft__items {
  padding-block: 4rem;
}
.shop-by-craft__items .shop-by-craft__item {
  position: relative;
}
.shop-by-craft__item .shop-by-craft__item-content{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 125px 0 24px 0;
  background: linear-gradient(180deg, rgba(48, 19, 12, 0) 0%, #30130C 100%);
}
.shop-by-craft .shop-by-craft__heading {
  font-family: var(--font-heading-family);
  font-size: 6.2rem;
  line-height: 5.58rem;
  text-align: center;
  margin: 0;
}
.shop-by-craft__item-content .shop-by-craft__cta-button{
  background-color: #F3F1E4E5;
  color: #622B1E;
  margin-top: 3.2rem;
  font-family: var(--font-body-family);
  font-size: 1.4rem;
  padding: 14px 33px;
  font-weight: 800;
}
.shop-by-craft__cta-button.button::after {
  content: none;
}
.shop-by-craft__item-content .shop-by-craft__cta-button:hover {
  background-color: #FFFFFF;
}
.shop-by-craft__item-title {
  font-family: var(--font-heading-family);
  color: #FFFFFF;
  margin: 0;
  font-size: 4rem;
}
.shop-by-craft__item-description {
  margin: 0;
  font-family: var(--font-body-family);
  color: #FFFFFF;
}
.sbc-image {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}
.shop-by-craft__view-all {
  padding-top: 2rem;
  text-align: center;
}
/* .shop-by-craft__view-all .shop-by-craft__view-all-button {
  background-color: #622B1E;
  font-family: var(--font-body-family);
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: 800;
  padding: 25px 57px;
} */
.shop-by-craft__view-all-button.button::after {
  content: none;
}
@media screen and (min-width: 750px) {
  .shop-by-craft__item-title {
    font-size: 3.4rem;
  }
  .shop-by-craft__item-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 14.4px;
  }
}
@media screen and (max-width: 749px) {
  .shop-by-craft .shop-by-craft__heading {
    font-size: 3rem;
    line-height: 1;
    padding: 0 0 30px;
  }
  .shop-by-craft__view-all .shop-by-craft__view-all-button {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 800;
    padding: 15px 45px;
  }
  .shop-by-craft__items {
    padding-block: 0rem;
    padding: 35px 0 0 0;
  }
}
/*  ======================== end - shop by craft section ========================== */

/* =========================== image banner ===================== */
.banner__box .banner__title, .banner__box .banner__text {
  font-family: var(--font-body-family);
  font-size: 3.6rem;
  line-height: 3.24rem;
  text-align: center;
  font-weight: normal;
  color: #FFFFFF;
}
.banner__box .banner__heading {
  font-family: var(--font-heading-family);
  /* font-size: 10rem;
  line-height: 10rem; */
  font-weight: normal;
}
.banner__buttons .button-custom {
  font-family: var(--font-body-family);
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: 800;
  padding: 0 60.2px;
  min-height: 68px;

}
@media screen and (min-width: 750px) {
  .banner__content {
      /* padding: 14rem !important; */
  }
  .banner--medium.banner--desktop-transparent .banner__box{
     max-width: unset !important;
  }
}
@media screen and (max-width: 749px) {
  .banner__content {
    position: absolute !important;
    bottom: 0;
  }
  .banner__box .banner__title, .banner__box .banner__text {
    font-size: 2rem;
    line-height: 1;
  }
  .banner__box .banner__heading {
    font-size: 6rem;
    line-height: 1;
  }
  .banner__buttons .button-custom {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 45px;
    min-height: 48px;
  }
  .banner--mobile-bottom .banner__box {
    background: linear-gradient(180deg, rgba(48, 19, 12, 0) 0%, rgba(48, 19, 12, 0.8) 100%);
  }
}
/* =========================== end - image banner ===================== */

/* =================================== video section ============================= */
.videos-container {
  display: flex;
  flex-direction: column;
}

.video-custom .video-section__poster img {
  object-fit: cover;
}

.video-custom {
  position: relative;
}
.video-custom .text-content-2, .video-custom .text-content-1 {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 152px  42px 42px 42px;
  background: linear-gradient(180deg, rgba(48, 19, 12, 0) 0%, rgba(48, 19, 12, 0.8) 100%);
}
.video-custom .deferred-media__poster-button .svg-wrapper .icon-play path {
  fill: #622B1E;
}
.text-content-1 .text-title-1, .text-content-2 .text-title-2 {
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 6.2rem;
  line-height: 0.9;
}
.text-content-1 .text-subtitle-1, .text-content-2 .text-subtitle-2 {
  font-family: var(--font-body-family);
  font-size: 3.1rem;
  font-weight: normal;
  line-height: 1.1;
}
.global-media-settings {
  border: 0;
}
@media screen and (min-width: 750px) {
  .videos-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  .videos-container .video-custom {
    width: 50%;
  }
  .text-content-1 .text-title-1, .text-content-2 .text-title-2 {
    font-size: 6.2rem;
  }
  .text-content-1 .text-subtitle-1, .text-content-2 .text-subtitle-2 {
    font-size: 3.1rem;
  }
  .video-custom .video-2__poster {
    /* margin-left: 5px; */
  }
}
@media screen and (max-width: 749px) {
  .video-custom .text-content-2, .video-custom .text-content-1 {
    padding: 20px 15px 15px;
  }
  .text-content-1 .text-title-1, .text-content-2 .text-title-2 {
    font-size: 3rem;
  }
  .text-content-1 .text-subtitle-1, .text-content-2 .text-subtitle-2 {
    font-size: 1.6rem;
    line-height: 1.1;
  }
  .videos-container {
    gap: 20px;
  }
}

/* =================================== end - video section ============================= */

/* ====================== Review ==============================*/
.section-review__heading {
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 6.2rem;
  line-height: 0.9;
  text-align: center;
  margin-block: 0.65em;
}
.section-review__content {
  display: flex;
  /* gap: 6rem; */
  box-shadow: 0px 4px 16px 0px #0000000A;
  max-height: 567px;
}
.section-review__image {
  min-width: 42%;
}
.section-review__content:after {
  content: url('https://cdn.shopify.com/s/files/1/0701/7902/9028/files/quote.svg');
  position: absolute;
  right: 0;
  z-index: 0;
}
.section-review__content .section-review__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 40%; */
  padding: 40px 34px;
  min-width: 48.5%;
  background: #ffffff;
  max-height: 490px;
}
.section-review__image .review-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.section-review__rating {
  min-width: 5rem;
}
.section-review__details .section-review__title {
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1;
  margin: 14px 0 24px;
  color: #22211E;
}
.section-review__details .section-review__text {
  font-family: var(--font-body-family);
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 2.5em;
  color: #3B3535;
}
.section-review__meta {
  padding-top: 1.5em;
  border-top: 1px solid #D9D9D9;
}
.section-review__meta .section-review__name {
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.11;
  color: #622B1E;
}
.section-review__meta .section-review__place {
  font-family: var(--font-body-family);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.1;
  color: #3B3535;
}
.review-pagination {
  text-align: center;
  padding-top: 5rem;
}
.review-pagination .swiper-pagination-bullet {
  background: #C0BDAC;
  opacity: 1;
  width: 1.4rem;
  height: 1.4rem;
}
.review-pagination .swiper-pagination-bullet-active {
  background: #622B1E;
}
.review-pagination .swiper-pagination-bullet{
  margin: 0 5px !important;
}
@media screen and (max-width: 749px) {
  .section-review__heading {
    font-size: 3rem;
    line-height: .9;
    padding: 0 0 50px 0;
  }
  .section-review__content {
    flex-direction: column;
  }
  .section-review__image {
    /* min-width: 42%; */
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    min-width: unset;
  }
  .section-review__content .section-review__details {
    max-height: unset;
    text-align: center;
  }
  .section-review__content {
    max-height: unset;
    max-height: unset;
    background: #fff;
    padding: 25px 0 0 0;
  }
  .section-review__content:after {
    top: 0;
  }
  .section-review__rating svg {
    width: 22px;
    height: 22px;
  }
  .section-review__details .section-review__title {
    font-size: 2.5rem;
    min-height: 50px;
  }
  .section-review__details .section-review__text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .review-pagination {
    text-align: center;
    padding-top: 2rem;
  }
}
/* ====================== End Review ==============================*/

/* ================================== footer ============================*/
.button.store-button {
  background: none;
}
.footer .grid .grid__item {
  max-width: 18%;
}
.footer {
  background-image: url(https://cdn.shopify.com/s/files/1/0701/7902/9028/files/Ellipsgdfge_3.png?v=1733836556);
  background-size: 100% 100%;
}
.footer {
  .footer-block.footer-brand_information {
    padding-right: 0;
    margin-right: 0;
    border-right: 1px solid #854D40;
  }
  .footer-block.footer-link_list.footer-block--menu {
    max-width: 17%;
  }
  h2.footer-block__heading.inline-richtext {
    font-family: var(--font-heading-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 25.2px;
  }
  .link.link--text.list-menu__item.list-menu__item--link:hover {
    color: #E6D565;
  }
  .link.link--text.list-menu__item.list-menu__item--link {
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration: none;
    color: #F3F1E4;
  }
  .footer__blocks-wrapper {
    justify-content: space-between;
  }
  .footer-block.grid__item.footer-text {
    max-width: 13%;
  }
  .footer-block__details-content .list-menu__item--link:hover, .copyright__content a:hover {
    color: #E6D565;
    text-decoration: none;
    text-underline-offset: .3rem;
  }
  .footer-block__details-content.rte h3 {
    font-size: 20px;
  }
  .footer-block__details-content.rte > * {
    margin: 0;
  }
  .footer-block__details-content {
    margin-bottom: 20px;
  }
  .footer-block .store-button:after{
    display: none;
  }
  .footer-block .store-button:before{
    display: none;
  }
  .footer-block .store-button{
    min-height: 48px;
    border: 1px solid #91584A;
    padding: 0 24px;
    font-size: 14px;
  }
  .list-social__item .svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
  .list-social__link {
    padding: 0 15px 0 0;
  }
  .footer-block__image-wrapper {
    margin-bottom: 3.2rem;
  }
  .footer__content-bottom-wrapper {
    justify-content: center;
  }
  .footer__copyright.caption .copyright__content {
    font-size: 16px;
    font-family: var(--font-body-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer__content-bottom {
    padding-top: 36px;
  }
  .list-social__item:last-child .list-social__link {
    padding: 0 0 0 0;
  }
}
@media screen and (max-width: 749px) {
  .footer .grid .grid__item {
    max-width: 100%;
  }
  .footer .footer-block.footer-link_list.footer-block--menu {
    max-width: 49%;
  }
  .footer .footer-block.grid__item.footer-text {
    max-width: 100%;
  }
  .footer .footer-block.footer-brand_information {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
    margin: 0 auto;
  }
  .footer-block__brand-info .footer-block__image-wrapper{
    margin: 0 auto;
  }
  .footer-block__brand-info .footer__list-social.list-social {
    justify-content: center !important;
    padding: 15px 0 0 0;
  }
  .footer__content-top {
    padding: 0 20px !important;
  }
  .footer-block__heading {
    margin-bottom: 4px;
    margin-top: 0;
    font-size: calc(var(--font-heading-scale) * 1.6rem);
  }
  .footer h2.footer-block__heading.inline-richtext {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .footer .link.link--text.list-menu__item.list-menu__item--link {
    font-size: 13px;
    line-height: 1;
    padding: 5px 0;
  }
  .footer .grid {
    display: flex !important;
  }
  .footer-block.grid__item {
    padding: 0;
    margin: 1rem 0 !important;
    width: 100%;
  }
  .footer .footer-block.grid__item.footer-text .footer-block__heading{

  }
  .footer .footer-block.grid__item.footer-text {
    max-width: 49%;
  }
  .footer .footer-block__details-content.rte h3 {
    font-size: 16px;
  }
  .footer .footer-block .store-button {
    min-height: 38px;
    border: 1px solid #91584A;
    padding: 0 16px;
    font-size: 14px;
  }
  .footer .footer__content-bottom {
    padding-top: 15px;
  }
}

@media (max-width: 989px) and (min-width: 750px) {
  .footer .footer__blocks-wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer .footer__blocks-wrapper.grid--3-col-tablet .grid__item {    
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .footer .footer__blocks-wrapper.grid--3-col-tablet .grid__item.footer-brand_information {
    padding-right: 0;
    margin-right: 0;
    border: none;
    max-width: 100%;
    width: 100%;
  }
  .footer .footer-block__image-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-block__brand-info .footer__list-social.list-social {
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  .footer-block.footer-brand_information {
    padding-right: 60px;
    margin-right: 120px;
  }
}
/* ================================== end footer ============================*/
/* ================================== product page ========================== */
.product__title h1 {
  font-family: var(--font-heading-family);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
}
@media (min-width: 990px) {
  .product__title h1 {
    font-size: 5.2rem;
  }  
}
@media (min-width: 1100px) {
  .product--large:not(.product--no-media) .product__info-wrapper {
    padding: 0 0 0 6rem;
  }
}

.price-mrp {
  color: #7a7a7a;
  font-family: var(--font-body-family);
  font-size: 15px;
  font-weight: 400;
  margin-right: 7px;
}
.price-item.price-item--regular {
  font-family: var(--font-body-family);
  font-weight: 500;
  line-height: 1;
}
.price-item.price-item--sale.price-item--last {
  color: rgb(var(--color-link));
  font-family: var(--font-body-family);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
.price--large {
  letter-spacing: 0px !important;
}
.price__sale .price-item--regular{
  font-size: 1.6rem !important;
}
.product .price .badge, .product .price__container{
  margin-bottom: 0 !important;
}
.sale-badge-wrap {
  display: inline-flex !important;
}
.price{
  display: flex;
  align-items: center;
}
.price__regular .price-item--regular {
  font-family: var(--font-body-family);
  font-weight: 500;
  font-size: 1.5rem;
}
.product-form__input .form__label {
  font-family: var(--font-body-family);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.select__select {
  min-height: 56px;
  font-family: var(--font-body-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}
.product-form__quantity .quantity {
  color: rgba(var(--color-foreground));
  position: relative;
  width: 240px;
  display: flex;
  border-radius: var(--inputs-radius);
  min-height: 56px;
  column-gap: 8px;
}
.select .svg-wrapper, .customer select+.svg-wrapper {
  height: 1rem;
  width: 1rem;
}
.product-form__quantity .quantity::after {
  box-shadow: none;
}
.product-form__quantity .quantity .quantity__button,
.product-form__quantity .quantity .quantity__input {
  border: 1px solid #B4B4B4;
}
.quantity__button {
  min-width: 55px;
}
.quantity__button .svg-wrapper {
  height: 1.6rem;
  width: 1.6rem;
}
@media screen and (min-width: 750px) {
  .price--large {
    font-size: 2.8rem !important;
  }
}
.share-button__button {
  justify-self: flex-end;
  min-height: auto;
}
/* ================================== end product page ============================*/

/* =========================== product-img-video =========================== */

.product-img-video .sliders {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .product-img-video .sliders {
    column-gap: 60px;
  }
}

.slider.slider--videos, .slider.slider--images {
  width: 100%;
}
.product-img-video .slider .video-slider__heading, .slider .image-slider__heading {
  font-family: var(--font-heading-family);
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 0;
  text-align: center;
}
.slider--videos .deferred-media__poster-button .svg-wrapper .icon-play path {
  fill: #622B1E;
}
.product-img-video .slider--images .swiper-slide:before {
  content: "";
  display: block;
  padding-bottom: 116%;
}
.product-img-video .swiper-slide .gallery_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.product-img-video .sliders .swiper-pagination {
  margin-top: 20px;
  position: unset;
}
.product-img-video .sliders .swiper-pagination-bullet {
  height: 1rem;
  width: 1rem;
  background: #C0BDAC80;
  opacity: 1;
}
.product-img-video .sliders .swiper-pagination-bullet-active {
  background: rgba(var(--color-button),var(--alpha-button-background));
}
@media screen and (min-width: 750px) {
  .product-img-video .sliders {
    flex-direction: row;
  }
  .slider.slider--videos, .slider.slider--images {
    width: calc(50% - 30px / 2);
  }
}

@media (min-width: 990px) {
  .product-img-video .slider--images .swiper-slide:before {
    padding-bottom: 118%;
  }
}

@media (min-width: 1400px) {
  .slider.slider--videos, .slider.slider--images {
    width: calc(50% - 60px / 2);
  }   
  .product-img-video .slider--images .swiper-slide:before {
    padding-bottom: 116.3%;
  }
}

/* ===================== image-with-text =========================
.image-with-text .image-with-text__grid {
  flex-direction: column;
}
.image-with-text__grid .image-with-text__media-item, .image-with-text__grid .image-with-text__text-item {
  width: 100%;
}
.image-with-text__text-item .image-with-text__content {
  padding: 0;
}
.image-with-text__content .image-with-text__heading {
  font-family: var(--font-heading-family);
  color: #31302B;
}
.image-with-text__content .image-with-text__text {
  font-family: var(--font-body-family);
  font-size: 2.2rem;
  line-height: 1.6;
  color: #3B3535;
}
@media screen and (min-width: 990px) {
  .image-with-text__text-item .image-with-text__content {
    padding: 0;
  }
}*/

/* ====================== delivery-details ===============*/
.delivery-wrapper .sub-text {
  margin: 0;
}
.delivery-details .icon-with-text__item:not(:last-child) {
  margin-bottom: 15px;
}
.delivery-details .icon-with-text__item img{
  width: unset;
  height: unset;
  padding-right: 0.875em;
}

/* megamenu */
ul.mega-menu__list>li {
  display: flex;
  flex-wrap: wrap;
}

ul.mega-menu__list {
  grid-template-columns: repeat(1,minmax(0,1fr));
}
.megamenu__right-menu {
display: none;
}
.megamenu__right-menu.active {
  width: 90%;
  display: block;
  position: relative;
  min-height: 40vh;
}

.megamenu__left-menu {
  width: 10%;
}
.mega-menu__list .products {
  display: none;
}
.mega-menu__list .products.active-container {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 200px;
  top: 30px;
  flex: 1;
  width: calc(100% - 200px);
}

.products.active-container .product-card-wrapper {
  width: calc(25% - 10px * 3/4);
}
.mega-menu__list .products .price__regular .price-item--regular {
  font-size: 15px;
}
.mega-menu__list .products .price-mrp {
  font-size: 14px;
}
.megamenu__left-menu li.active a {
  text-decoration: underline;
}

.megamenu__right-menu li.active>a {
  text-decoration: underline;
}
